<?xml version="1.0"?>
<!--
/**
 * Created by Q-Solutions Studio
 *
 * @category    Nanobots
 * @package     Nanobots_CloudFlareCache
 * @author      Jakub Winkler <jwinkler@qsolutionsstudio.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Nanobots\CloudFlareCache\Api\Data\ConfigInterface"
                type="Nanobots\CloudFlareCache\Model\Config"/>
    <preference for="Nanobots\CloudFlareCache\Api\CloudFlare\CacheClientInterface"
                type="Nanobots\CloudFlareCache\Model\CloudFlare\CacheClient"/>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="nanobots_cloudflare_cache" xsi:type="object">Nanobots\CloudFlareCache\Console\ClearCache</item>
            </argument>
        </arguments>
    </type>
</config>
